# transformers
# numpy
# scipy
# webrtcvad-wheels
# openai
# langchain
# langchain-groq
# langchain-ollama
# langchain-core
# langchain-community
# langchain_text_splitters
# unstructured
# fastembed
# pdfplumber
# sentence-transformers
# ollama
# nltk
# sentence_transformers
# fastapi
# uvicorn
# python-multipart
#langchain-embeddings
#                   updated file from here
fastapi
uvicorn
pydantic
python-dotenv
langchain
langchain-core
langchain-groq
langchain-huggingface
pdfplumber
boto3
python-multipart
requests
python-dateutil